BOOTSTRAP_OWNER_EMAIL=
ADMIN_PIN=197313
SITE_ORIGIN=
ONLINE_PAYMENT_WEBHOOK_SECRET=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
CORREO_API_URL=https://apitest.correoargentino.com.ar/micorreo/v1
CORREO_API_USER=
CORREO_API_PASSWORD=
CORREO_CUSTOMER_ID=
CORREO_ORIGIN_POSTAL_CODE=
